body {
  background-color: #141d36;
}
.header img {
  width: 1.5vw;
  padding-right: 5px;
}
.header {
  background: linear-gradient(to bottom, #2e437d, #101933);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
}
.India-map {
  display: flex;
  justify-content: end;
  padding-top: 1%;
  padding-right: 15%;
}
.India-map img {
  height: 85vh;
  width: auto;
}
