body {
  background-color: #f6f6f6;
}
.header img {
  width: 1.5vw;
  padding-right: 5px;
}
.header {
  background: #081f37;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  color: white;
  margin: 2vh 3%;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 25px rgba(0, 0, 0, 0.25); /* Added drop shadow */
  padding: 1vh;
}

.inputHeader{
  color: #050505;
  font-weight: bold;
  font-size: 0.8rem;
  padding:1.3vh 1vw;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.India-map {
  display: flex;
  justify-content: end;
  padding-top: 1%;
  height: 85vh;
}
.India-map img {
  object-fit: contain; /* or "none" depending on your preference */
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  border-radius: 0 15px 15px 0;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(255, 255, 255, 0.5);
}
.buttons button {
  background: linear-gradient(to right, #00abc2, #295b62);
  border: none;
  border-radius: 43px;
  padding: 8px 14px; /* Adjust padding as needed */
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: space-around;
}

.buttons button img {
  height: 4vh;
  margin-right: 10px;
  margin-left: 0;
}
.Slider-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
}
.slider1 {
  display: flex;
  flex-direction: column;
  width: auto;
  height:auto;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  margin-left: 2vw;
}
.slider2 {
  display: flex;
  flex-direction: column;
  width: auto;
  height:auto;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  margin-left: 2vw;
}
.apply-button {
  background: #081f37;
  border: none;
  border-radius: 16px;
  padding: 12px 25px;
  margin-bottom: 2vh;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 90%;
}

.apply-button-div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 22vw;
  margin-left: 2vw;
}

.basicbuttons button {
  background: linear-gradient(to right, #00abc2, #295b62);
  border: none;
  border-radius: 43px;
  padding: 8px 14px; /* Adjust padding as needed */
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: space-around;
  margin-right: 10px;
}

.basicbuttons button img {
  height: 4vh;
  margin-right: 10px;
  margin-left: 0;
}

.right-content {
  display: flex;
  flex-direction: row;
}

.rightbox {
  border-radius: 30px;
  box-shadow: inset 4px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(255, 255, 255, 0.5);
  width: "40%";
  height: fit-content;
  padding-right: 5vw;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.stats-content {
  background: linear-gradient(135deg, #2e4174, #020308);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
  padding: 1vw;
  width: 6vw;
  margin: 0.5vw;
}

.rightheading {
  padding: 15px;
  align-items: center;
  padding-right: 30px;
  color: "white";
}
.listItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.listItems img {
  height: 3vh;
  margin: 5px 10px;
}

.indiaHeader {
  height: 2.5vh;
  padding-left: 20%;
}

.sideText {
  color: white;
  font-size: 0.5rem;
}

.piechart {
  margin-top: 10%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Donutchart {
  width: 4vw;
  height: 4vh;
}
.gender-demo img {
  width: 25%;
  height: 25%;
}
